
h1 {
    background-color: #bbd5ea;
    text-decoration-color: purple;
    font-size: 25px !important;
    color: saddlebrown;
    font-style: italic;
    position: center;
    box-shadow: black;
}
.hbar1 {
display: inline;
margin: 15px;
}
.background{
    background-image: url("20.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}
a{
    text-decoration: underline !important;
    color: black !important;
}