{% extends 'myapp/base.html'  %}
{% block title %}
    Detail!
{% endblock %}
{% block body_block %}
    <div class="row">
    <div class="col-md-3">
        <img src="/static/myapp/detail.png" class="loginIcon topicIcon">
    </div>
   <div class="col-md-6">
       <p><b>Name of this topic is: {{ name }}</b></p>
       <p><b>Category of this topic is: {{ category }}</b></p>
{% if course_list %}
<h2 class="centerText">List of Courses</h2>
    <ol class="list-group list-group-flush centerText">
{% for course in course_list %}
    <li class="list-group-item"> {{ course.name}}</li>
        {% endfor %}
    </ol>
 {% else %}
<strong>There are no available courses!</strong>
{% endif %}
   </div></div>
{% endblock %}