{% extends 'myapp/base.html'  %}
{% block body_block %}
    {{ msg }}
    <div class="row">
    <div class="col-md-3">
        <img src="../static/myapp/topics.png" class="loginIcon topicIcon">
    </div>
   <div class="col-md-6">
    {% if top_list %}
<h2 class="centerText">List of Topics</h2>
    <ol class="list-group list-group-flush centerText">
{% for top in top_list %}
    <li class="list-group-item"><a href="{% url 'myapp:detail' top.id %}">{{ top.name}} </a></li>
        {% endfor %}
    </ol>
 {% else %}
<strong>There are no available topics!</strong>
{% endif %}
 {% if request.session.last_login %}
     <p> Last logged in at : {{ request.session.last_login}}</p>
      {% else %}
     <p> Your last login was more than an hour ago!</p>
    {% endif %}

</div>
</div>
{% endblock %}